@import './utilities/variables.scss';
@import './utilities/loading-spinner.scss';

@import './components/market-navigation.scss';
@import './components/market-header.scss';
@import './components/market-trendline.scss';

html {
  font-size: 8px;
}

body {
  font-size: 1.75rem;
}

.exchange-main {
  display: flex;
  height: 100vh;
  width: 100vw;
}

pre {
  background: #eee;
  padding: 2rem;
  overflow: auto;
  max-height: 20rem;
}

.market {

}

