.market-trendline.trend-loading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & > div {
    @extend .loading-spinner;

    width: 3.8rem;
    height: 3.8rem;

    div {
      width: 3.5rem;
      height: 3.5rem;
      margin: 0.42rem;
      border-width: 0.42rem;
    }
  }
}
